@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Smooch+Sans:wght@100..900&display=swap');

:root {

    /* CSS HEX */
    --russia-violeta: #231942ff;
    --ultra-violeta: #5e548eff;
    --violeta: #9f86c0ff;
    --lilas: #be95c4ff;
    --pink-lavender: #e0b1cbff;
    --titulo: "Playfair Display", serif;
    --texto: "Playfair Display", serif;
}

body {
    background-color: rgb(127, 206, 206);
    font-family: var(--texto);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

}

button {
    background-color: var(--cravo-rosa);
    color: var(--branco);
    padding: 10px;
    border: 2px solid var(--branco);
    border-radius: 8px;
    font-size: 20px;
    margin: 5px;
}

button:hover {
    background-color: rgb(66, 48, 122);
    color: var(--cravo-rosa);
    transition: 0.5s;
    border: 2px solid #000;
    box-shadow: 2px 2px 10px #000;
}

main {
    margin: 40px 20px;
    max-width: 90%;
    text-align: center;
    font-size: 28px;
}